@font-face { font-family: 'HelveticaNeueLTPro-Cn';  src: local('HelveticaNeueLTPro-Cn'), url('https://nomail.com.ua/files/woff/137bc231bd3f5c6a11768f3099a82ac5.woff') format('woff'); }
@font-face { font-family: 'HelveticaNeueLTPro-UltLt';  src: local('HelveticaNeueLTPro-UltLt'), url('https://nomail.com.ua/files/woff/72ccb9e221a6434c15e181e738db16dc.woff') format('woff'); }

body {
    font-family: 'HelveticaNeueLTPro-Cn', 'SF Pro Display', 'San Francisco Display', 'Helvetica Neue','Roboto', sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,0.87);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 500px;
    padding: 0;
    margin: auto;
    transition: 0.6s;
}
h1, h2, h3 {
    font-family: 'HelveticaNeueLTPro-UltLt';    
    font-weight: 100;
    font-size: 50px;
}
h1 {
    width: 100%;
    text-align: center;
    margin: 0 0 12px 0;
    padding: 0 0 8px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    line-height: 36px;
}
h2 {
    margin: 24px 0 16px 0;
    padding: 0;
    font-size: 20px;
    line-height: 32px;
    color: rgba(0,0,0,0.54);
}
h5 {
    font-weight: 400;
}
p {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 400;
    text-align: center;
}
p br {
    font-size: 20px;
}
ol {
    margin: 0;

}
ol li {
    margin: 0;
    line-height: 24px;
    padding-left: 12px;
}
a {
    color: #039BE5;
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
code {
    display: inline-block;
    padding: 3px 4px;
    background-color: #ECEFF1;
    border-radius: 3px;
    font-family: 'Roboto Mono',"Liberation Mono",Courier,monospace;
    font-size: 14px;
    line-height: 1;
}
.gh {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.gh svg {
    height: 15px;
}


.toggle-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background: #FAFAFA;
    box-shadow: 0px 1px 8px -3px #00000040;
    border-radius: 5px;
    border: 1px solid #EEEEEE;
    cursor: pointer;
    transition: 0.3s ease;
    text-transform: uppercase;
    font-size: 12px;
}

.toggle-btn:hover {
    box-shadow: 0px 1px 12px -3px #00000040;
}
.toggle-btn:active {
    background-color: #F1f1f1;
    box-shadow: 0px 3px 10px -3px #00000040;
}



/* Dark mode |~~ */
body.dark {
    background: #111;
    color: #9E9E9E;
}

body.dark h1 {
    border-bottom: 1px solid rgba(158, 158, 158, 0.2);
}

body.dark a {
    color: #ce93d8ba;
}

body.dark svg {
    fill: #ce93d8ba;
}
/* ~~| END Dark Mode */


@media screen and (max-width: 510px) {
    body {
        max-width: 300px;
    }
}
@media screen and (max-width: 350px) {
    body {
        max-width: 250px;
    }
    p {
        line-height: 1.6em;
    }
}
