@import url('https://cdn2.oscarm.cf/fonts/sf-display/font.css');

body {
    margin: 0 auto;
    margin-top: 48px;
    max-width: 616px;
    padding: 0 16px;
    font-family:  'San Francisco Display', 'Helvetica Neue','Roboto', sans-serif;
    font-size: 16px;
    color: rgba(0,0,0,0.87);
}
h1, h2, h3 {
    font-weight: 100;
    font-size: 50px;
}
h1 {
    margin: 200px 0 16px 0;
    padding: 0 0 16px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    line-height: 36px;
}
h2 {
    margin: 24px 0 16px 0;
    padding: 0;
    font-size: 20px;
    line-height: 32px;
    color: rgba(0,0,0,0.54);
}
h5 {
    font-weight: 500;
}
p {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 400;
}
ol {
    margin: 0;

}
ol li {
    margin: 0;
    line-height: 24px;
    padding-left: 12px;
}
a {
    color: #039BE5;
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
code {
    display: inline-block;
    padding: 3px 4px;
    background-color: #ECEFF1;
    border-radius: 3px;
    font-family: 'Roboto Mono',"Liberation Mono",Courier,monospace;
    font-size: 14px;
    line-height: 1;
}
.gh {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.gh svg {
    height: 15px;
}
@media screen and (max-width: 616px) {
    body {
        margin-top: 24px;
    }
}
